@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model List<Product>
@{
}

<h1>PRODUCT LIST (used & new)</h1>
<table class="table">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Action</th>
    </tr>
    @foreach (Product p in Model){
        <tr>
            <td>@p.Id</td>
            <td>@p.Name</td>
            <td>@p.price</td>
            <td><a class="btn btn-warning" asp-action="Edit" asp-route-id="@p.Id">Edit</a></td>
        </tr>
    }
</table>


<img src="~/img/Steyr.webp" claas="img-fluid"/>